<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Fresh Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="categories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cart" routerLink="cart">Cart
                    <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
                        {{ cart.totalItemsCount }}
                      </span>
                </a>
            </li>
            <ng-template #anonymousUser>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
            </ng-template>
            

            <li ngbDropdown *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.displayName}}
                </a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="myorders">My orders</a>
                    <a class="dropdown-item" routerLink="admin/orders">Manage orders</a>
                    <a class="dropdown-item" routerLink="admin/products">Manage products</a>
                    <div class="dropdown-divider"></div>
                    <a (click)="logout()" class="dropdown-item">Log out</a>
                </div>
            </li>

        </ul>

    </div>
</nav>