<!-- <div class="login-panel">
    <form class="form-group" [formGroup]="loginForm" (ngSubmit)="loginUser()" autocomplete="off">
        <div class="mb-3">
            <mat-form-field>
                <mat-label for="exampleInputEmail1" class="form-label">Email address</mat-label>
                <input matInput type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Ex- abc@xyz.com" formControlName="email">
                <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
                <mat-error *ngIf="email?.errors?.['email']">Please enter a valid email</mat-error>
            </mat-form-field>

        </div>
        <div class="mb-3">
            <mat-form-field>
                <mat-label for="exampleInputPassword1" class="form-label">Password</mat-label>
                <input matInput type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    formControlName="password">
                <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
            </mat-form-field>

        </div>

        <button mat-button type="button" class="btn btn-primary loginbtn" type="submit">Log in</button><br><br>
        <button class="btn btn-primary" (click)="login()">Login with Google</button><br><br>
        <a routerLink="/signup">Not a user? Sign up.</a>
    </form>
</div> -->





<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                            <form class="form-group" [formGroup]="loginForm" (ngSubmit)="loginUser()"
                                autocomplete="off">
                                <div class="form-outline form-white mb-4">
                                    <mat-form-field>
                                        <input matInput type="email" class="form-control form-control-lg"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Ex- abc@xyz.com" formControlName="email">
                                        <mat-label for="exampleInputEmail1" class="form-label">Email address</mat-label>
                                        <mat-error *ngIf="password?.errors?.['required']">Password is required
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="form-outline form-white mb-4">
                                    <mat-form-field>
                                        <input matInput type="password" class="form-control form-control-lg"
                                            id="exampleInputPassword1" placeholder="Password"
                                            formControlName="password">
                                        <mat-label for="exampleInputPassword1" class="form-label">Password</mat-label>
                                        <mat-error *ngIf="password?.errors?.['required']">Password is required
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                                <button mat-button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <button class="btn btn-primary" (click)="login()">Login with Google</button>
                            </div>
                            <div>
                                <p class="mb-0">Don't have an account? <a routerLink="/signup"
                                        class="text-white-50 fw-bold">Sign Up</a></p>
                            </div>
                            </form>


                            

                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>